/* === Общие настройки === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 1280px;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
  color: #000;
  position: relative;
}

.container {
  width: 1168px;
  margin: 0 auto;
}

/* === Шапка === */
.header {
  position: absolute; 
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.9); /* Полупрозрачный фон, можно изменить */
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 56px; 
  box-sizing: border-box;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 15px;

}

.logo {
  width: auto;
  height: 40px;
}

.icon {
  width: 24px;
  height: 24px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.btn {
  width: 111px;
  height: 36px;
  border-radius: 4px;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-sign-up {
  background-color: #ffffff;
  color: #156963;
  border: none;
}

.btn-sign-in {
  background-color: #156963;
  color: #ffffff;
  border: none;
}

/* === Основной блок === */
.main-block {
  width: 100%;
  height: 740px;
  position: relative;
  overflow: hidden;
}

.flower-img {
  width: auto;
  height: 100%;
  object-fit: cover;
  margin-top: 0px;
}

.content {
  display: flex;
  gap: 100px;
  align-items: start;
  margin-top: 0;
}

.text-area {
  margin-top: 186px;
}

.text-area h1 {
  font-size: 68px;
  font-weight: 500;
  color: #156963;
  margin-bottom: 24px;
}

.description {
  font-size: 18px;
  font-weight: 400;
  color: #2c1500;
  margin-bottom: 110px;
}

.buttons {
  display: flex;
  gap: 0;
}

.big-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
}

.previous {
  width: 266px;
  height: 160px;
  background-color: #ffffff;
  color: #333333;
  margin-right: 0;
}

.previous img {
  width: 20px;
  height: auto;
  margin-right: 10px;
}

.previous span {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 14px;
}

.previous p {
  font-size: 32px;
  font-weight: 500;
  color: #156963;
}

.next {
  width: 320px;
  height: 160px;
  background-color: #156963;
  color: #f2f2f2;
}

.next img {
  width: 20px;
  height: auto;
  margin-left: 10px;
}

.next span {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 14px;
}

.next p {
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
}
